*{
  justify-content: center;
}

.nav {
  width: 100%;
  padding: 0.25em;
  background-color: rgb(244, 166, 152);
  text-emphasis-color: black;
  color: aliceblue;
  display: flex;
  text-size-adjust: 100%;
  justify-content: space-between;
  align-items: center;
}


main {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

footer {
  width: 100%;
  padding: 0.25em;
  background-color: rgb(244, 166, 152);;
  color: aliceblue;
  display: grid;
  place-content: center;
}


form {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5em;
  color: black;
}
.cardsHome{
  width: 80%;
  height: 50px;
}
nav a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.errors{
  color: red;
  font-weight: bold;

}
.e{
  text-align: right;
}
.gradient-custom {
  /* fallback for old browsers */
  background: #a18cd1;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(161,140,209,0.5), rgba(251,194,235,0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(161,140,209,0.5), rgba(251,194,235,0.5))
}

.gradient-form1{
  width:300px;
  font: size 30px;
  background: linear-gradient(orange, green);
}

